.jumbotron {background-color: #337ab7!important;}

.form-editGrocery {
    width: -50%;
    padding: 80px;
    margin: 0 auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(48, 89, 177);
  border-color: rgb(15, 57, 105);
}

.validation {
  color: #d9534f 
}

.thumbnail p, .thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(13, 141, 145, 0.3);
  /* background-color: rgba(144, 165, 235,0.3) */
  color :#0e325c;
}

