<div class="modal-content">
  <div class="modal-header">          
    <button type="button" class="close" data-dismiss="dialog" data-ng-
          click="cancel($event)">
              <span aria-hidden="true"  ng-click="cancel()" >&times;</span>
              <span class="sr-only">Close</span>
           </button>
           <!-- <h4>Delete Grocery</h4> -->
           <h4 class="modal-title">Are you sure you want to delete {{ctrl.grocery.name}} {{ctrl.grocery.brand}} ?</h4>
  </div>

    <!-- <button type="button" class="close" 
    data-dismiss="dialog" aria-label="Close"  data-ng-click="cancel($event)">
    <span aria-hidden="true">&times;</span>
    </button> -->

  <div class="modal-body"> </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-danger" ng-click="ctrl.deleteGrocery()">Delete</button>
  </div>
</div>   