<div class="container">
    <h3>Edit Grocery</h3>
    <form name="ctrl.groceryform" class="form-horizontal form-editGrocery">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Grocery Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery.name" class="form-control" id="name" name="name" placeholder="Grocery Name .." required>
                <div class="validation" data-ng-show="ctrl.groceryform.name.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.name.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand"> Brand Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery.brand" class="form-control" id="brand" name="brand" placeholder="Brand Name .." required>
                <div class="validation" data-ng-show="ctrl.groceryform.brand.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.brand.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Brand is required
                    </div>
                </div>
            </div>    
        </div>
       
        <div class="form-group">
            <label class="control-label col-sm-2" for="upc12">UPC</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery.upc12" class="form-control" id="upc12" name="upc12" placeholder="UPC ..">
            </div>    
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.groceryform.$invalid" ng-click="ctrl.saveGrocery()">Save</button>
            </div>
        </div>
    
    </form>
</div>