<body ng-cloak ng-controller="GroceryController as ctrl">
    <div class="container">
        <div><h2>Grocery Management System </h2>

        </div>
        <div class="jumbotron">
                <form name="ctrl.searchForm" ng-submit="ctrl.searchGroceries()">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="  grocery name or brand name"/>
                        <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                        </span>
                        <div class="col-lg-6">
                            <select ng-model="ctrl.orderby" class="form-control">
                                <option value="" disabled selected> SORT by </option>
                                <option value="ASC">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <hr/>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
        </div>
        
        <div class="list" ng-show="ctrl.groceries">
            <div class="row" ng-show="ctrl.groceries.length > 0">
                <div class="list header col-lg-12 col-md-12 col-sm-12">
                        <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" item-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize"  boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 grocery" ng-repeat="grocery in ctrl.groceries">                    
                    <h4><label>Name: </label> {{grocery.name}}</h4>
                    <h4><label>Brand: </label> {{grocery.brand}}</h4>
                    <h4><label>UPC: </label> {{grocery.upc12}}</h4>
                    <img src="http://www.barcodes4.me/barcode/c39/{{grocery.upc12}}.png??IsTextDrawn=1" alt="Mountain View">                    
                    <h4>
                        <button type="button" ng-click="ctrl.editGrocery(grocery.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button type="button" ng-click="ctrl.deleteGrocery(grocery.id, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>Created by: <b>Robot Davis</b></p>
            <p>Contact information: 
                <a href="mailto:rthlimdavis@gmail.com">
            thlimdavis@gmail.com</a>.</p>
        </div>
    </footer>
</body>